fastapi
uvicorn #ASGI-сервер для запуска FastAPI
google-auth
google-auth-oauthlib #Google OAuth 2.0 Flow
python-multipart #Нужно для парсинга тела запроса
python-dotenv
python-telegram-bot==20.6
google-api-python-client
