# --- FastAPI ---
fastapi
uvicorn

# --- Telegram Bot ---
python-telegram-bot==20.6

# --- Google API ---
google-auth
google-auth-oauthlib
google-api-python-client

# --- Парсинг и обработка ---
python-dotenv
python-multipart
requests
openai

# --- Whisper (распознавание речи) ---
faster-whisper

# --- Другие ---
pydub
